
  .tab{
    background-color: black;
    color: #ffffff;
    width: 80%;
  }

  .contactsection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .tab {
    cursor: pointer;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    user-select: none;
  }
  
  .tab:hover {
    background-color: #6f6f6f;
  }
  
  .form-container {
    display: none; /* Initially hide the form container */
  }
  
  /* When isOpen is true, display the form container */
  .contactsection.open .form-container {
    display: block;
  }
  
  /* Style the form elements here */
  
  #querySubmitted {
    text-align: center;
  }

  
  .contactsection h2 {
    text-align: center;
    margin-bottom: 10px; /* Add margin at the bottom of the heading */
  }
  
  .contactsection label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .contactsection input,
  .contactsection textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .contactsection textarea {
    resize: vertical;
  }
  
  .contactsection input[type="submit"] {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .contactsection input[type="submit"]:hover {
    background-color: #000000;
  }
  
  .contactsection .submit-button {
    margin-top: 20px; /* Add space above the submit button */
    text-align: center;
  }