.events h2{
    margin-top: 100px;
    padding-left: 20px;
    font-size: 20px;
    font-family: "Inter", Arial, Helvetica;;
}
.events {  
    padding: 0px 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    margin-left: auto;
    margin-right: auto;

  }

  th, td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  th {
    background-color: #f0f0f0;
  }