nav {
  background-color: black;
  width: 100%;
  height: 50px;
  position: fixed;
  display: flex;
  flex-wrap: nowrap;
  top: 0;
  z-index: 1;
  margin-top: 0;
  margin: 0;
}

nav ul {
  background-color: black;
  width: 100%;
  margin: 0;
  padding-left: 0;
  padding-top: 10px;
}

nav li {
  left: 20px;
  display: inline;
  margin-top: 10%;
  margin-right: 5%;
  margin-left: 0;
  font-family: "Inter", "Arial", "sans-serif";
  padding-left: 50px;
}

nav li button{
  background-color: black;
  border: none;
  color: #ffffff;
  font-size: 20px;
}

nav li button:hover{
  font-family: "Inter", "Arial", "sans-serif";
  color: white;
  background-color: lightslategray;
  font-size: 18px;
  text-decoration: none;
  border-radius: 5px;
}

#searchbar {
  position: absolute;
  top: 10px;
  z-index: 999;
  display: flex;
}

.searchbar {
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
}

.searchbar button {
  border: none;
  background-color: black;
  width: 35px;
  height: 35px;
}

.searchbar button img {
  width: 35px;
  height: 35px;
}

.searchbar input[type="text"] {
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  margin-right: 5px;
}

.searchresults{
  z-index: 1;
  position:fixed;
  color: white;
  background-color: rgb(28, 26, 26);
  margin-top: 45px;
  border-radius: 2%;
  width: 20%;
  height: 20%;
  right: 0;
  list-style: none;
  padding-top: 15px;
  align-items: left;
}


.close-button {
  position: fixed;
  top: 53px; 
  right: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}