body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", "Arial", "sans-serif",
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
#app {
  position: relative; /* Relative positioning for the container */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
