.mediazone{
    display: flex;
    padding: 30px;
    padding-top: 100px;

  }
  
  .vid {
   flex: 70%;
   width: 100%;
   height: 350px;
   box-sizing: border-box;
   display:inline;
   padding-right: 30px;
  }

  .fb {
    flex: 30%;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    overflow: hidden;
  }