nav{
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    display:flex;
    flex-wrap: nowrap;
    top: 0;
    z-index:1;
    margin-top: 0;
}

nav ul{
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
}

nav li{
    display: inline;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 10%;
    margin-right: 5%;
    margin-left: 0;
    font-family: "Inter", "Arial", "sans-serif";
    padding-left: 7%;
} 

nav ul li a:hover {
    font-family: "Inter", "Arial", "sans-serif";
    color: white;
    background-color: lightslategray;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
}

#search-bar {
  position: absolute; /* Absolute positioning to overlay */
  top: 10px; /* Adjust the top position as needed */
  right: 10px; 
  z-index: 999; 
}


#search-bar form {
  display: flex;
  align-items: center;
}

#search-bar input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

#search-bar button {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-results {
  margin-top: 50px;
}


